@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Fira+Sans&display=swap");

* {
  margin: 0;
  padding: O;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: #fff;
}

/* navbar style */
.navbar {
  background: linear-gradient(0.2turn, #4b8ba9, #471c1c, #3c4ff6a3);
  padding: 20px;
  overflow: hidden;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  font-family: "Fira Sans", sans-serif;
}

.navbar .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: rgb(211, 214, 50);
  margin-left: 5rem;
}

.logo span {
  color: #ff3700;
}
.nav-list {
  margin-right: 3rem;
}
.nav-list li {
  display: inline-block;
}

.nav-list li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 550;
  margin-left: 25px;
}

.nav-list li a:hover {
  color: rgb(231, 22, 22);
}

#logo {
  font-family: "DM Sans", sans-serif;
}
.hamburger {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.hamburger:focus {
  outline: none;
}
.detail {
  margin-left: 8%;
  margin-top: 15%;
}
.detail h1 {
  font-size: 40px;
  color: aliceblue;
  margin-bottom: 20px;
}
.detail h1 span {
  color: orange;
}
.detail p {
  font-size: 25px;
  color: whitesmoke;
}
.detail p span {
  color: aqua;
  line-height: 22px;
  font-size: 25px;
}
.detail a {
  background: #7df63cc8;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #d1490f;
  display: inline-block;
  margin: 30px 0;
  border-radius: 10px;
  cursor: pointer;
}
.detail a:hover {
  width: 130px;
  filter: drop-shadow(0 0 0 rgb(255, 0, 0)) invert(90%);
  color: black;
}
.hero-images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.hero-images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  transition: bottom 1s, left 1s;
}
.hero-images:hover .cox-diary {
  left: 45%;
}
.cox-diary {
  border-radius: 50%;
}
.hero-images:hover .shape-clip {
  bottom: 60px;
}
.shape-clip {
  width: 100%;
  border-radius: 50%;
}
/* button style */
/* .HireMe {
  text-decoration: none;
  border: 1px solid red;
  background: #770c30;
  color: rgb(231, 203, 203);
  margin-top: 25px;
  width: 100px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: 0.5 solid rgb(255, 255, 255);
}

.HireMe:hover {
  color: #fff;
  background: none;
}

.home-content article .HireMe a {
  text-decoration: none;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
} */

/* about section style */
section {
  padding: 100px 0;
}

.about {
  font-family: "Luxurious Roman", cursive;
}

.about-content {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}

.about-content .left {
  width: 45%;
}

.about-content .left img {
  height: 400px;
  width: 400px;

  object-fit: cover;
  border-radius: 10px;
}

.about .title {
  position: relative;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}

.box-container {
  text-align: justify;
}

.about .title {
  color: whitesmoke;
}

.about .title span {
  color: rgb(228, 58, 19);
}

.about-content .right {
  width: 55%;
}

.about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-content .right .text span {
  color: rgb(219, 42, 77);
}

.about-content .right p {
  text-align: justify;
}

.about-content .right .cv-btn {
  text-align: justify;
  display: block;
  border: 1px solid red;
  margin-top: 30px;
  width: 13em;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0 0 0 rgb(237, 234, 234)) invert(90%);
  padding: 15px;
}

.about-content .right .cv-btn a #resume-text {
  color: rgb(255, 72, 0) !important;
}
.about-content .right .cv-btn a {
  text-decoration: none;
}
.about-content .right .cv-btn img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  box-shadow: none;
}

.about-content .right .cv-btn:hover {
  background: none;
  filter: drop-shadow(4px 4px 6px red) invert(90%);
  font-size: 15px;
  font-weight: 400px;

  cursor: pointer;
  width: 200px;
  border: 1px solid red;
}

.services {
  color: #fff;
  background-color: rgb(20, 15, 15);
}

.box h3 {
  color: #fff;
}

.skills .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.skills .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0.5 rgba(0, 0, 0, 0.7);
  box-shadow: 0.5 rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  background: #1a1a1a;
}

.skills .box-container .box:hover {
  background: #fff;
}

.skills h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.skills .box-container .box:hover h3 {
  color: #0d0d0d;
}

.skills .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
}

.education .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.education .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  margin-left: 2rem;
  padding: 2rem;
  padding-left: 3.5rem;
  padding-bottom: 2rem;
  border-left: 0.1rem solid #aaa;
  position: relative;
}

.education .box-container .box i {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  background: crimson;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: -2.5rem;
}

.education .box-container .box span {
  font-size: 1.7rem;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  background: #1a1a1a;
}

.education .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #fff;
  font-weight: normal;
  padding-top: 3rem;
}

.education .box-container .box h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #fff;
  font-weight: normal;
}

.education .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

.heading {
  margin-bottom: 100px;
  color: whitesmoke;
}

.heading span {
  color: rgb(228, 58, 19);
  font-weight: 30px;
  margin-top: -200px;
}

.education h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
#contact .heading {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.info-container {
  display: flex;
  justify-content: space-around;
}
.inputBox #subject {
  width: 200px;
}
.box-container {
  color: whitesmoke;
}
.box-container span {
  color: #ff3700;
}
/* responsive */
@media screen and (max-width: 800px) {
  .navbar {
    padding: 7px;
    display: flex;
    flex-direction: row;
  }
  .logo a {
    font-size: 25px;
  }
  .nav-list {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .nav-list.show {
    display: flex;
  }
  .hamburger {
    display: inline-block;
  }
  .hero-content {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .detail h1 {
    font-size: 30px;
  }
  .detail p {
    font-size: 15px;
  }
  /* .home-content {
    position: relative;
    top: -10rem;
  } */
  .hero-content .hero-images {
    width: 100%;
    position: absolute;
    top: 21em;
    left: 30px;
  }
  .shape-clip {
    width: 80%;
  }
  .cox-diary {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .about {
    margin-top: 20em;
  }
  .about-content .left img {
    height: 350px;
    width: 350px;
    margin-left: -10px;
    object-fit: contain;
    border-radius: 8%;
  }
  .about-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about .title {
    font-size: 25px;
  }
  .box-container {
    margin-top: 50px;
  }
  .box-container .box h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 800px) {
  .skills .heading {
    font-size: 25px;
  }
  .box #heading-skill {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .education .heading {
    font-size: 25px;
  }
  .box #date {
    font-size: 20px;
  }
  #institute {
    font-size: 20px;
  }
  #discription {
    font-size: 17px;
  }
}
@media screen and (max-width: 800px) {
  .info-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
